@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --color-neon: #c8f940;
    --color-neon-2: #f7fe90;
    --color-neon-gradient-from: #fcff98;
    --background-image-gradient-neon: linear-gradient(
      180deg,
      var(--color-neon) 0%,
      var(--color-neon-gradient-from) 100%
    );
    --color-green: #14bd83;
    --color-red: #ec4547;
    --color-kakao: #fee500;
    --color-kakao-text: #000000d9;

    /* Tag colors */
    --color-tag-stroke: #6d794d;
    --color-tag-fill: #c8f94014;

    /* PLI_black colors */
    --color-pli-black-100: #0c0d0f;
    --color-pli-black-85: #18181c;
    --color-pli-black-75: #242429;
    --color-pli-black-50: #323238;
    --color-pli-black-25: #4a4a52;
    --color-pli-black-10: #757582;

    /* Grayscale colors */
    --color-grayscale-1300: #0f0f0f;
    --color-grayscale-1250: #191919;
    --color-grayscale-1200: #222222;
    --color-grayscale-1100: #333333;
    --color-grayscale-1000: #444444;
    --color-grayscale-900: #555555;
    --color-grayscale-800: #666666;
    --color-grayscale-700: #777777;
    --color-grayscale-600: #888888;
    --color-grayscale-500: #999999;
    --color-grayscale-400: #bbbbbb;
    --color-grayscale-300: #cccccc;
    --color-grayscale-200: #dddddd;
    --color-grayscale-100: #efefef;
    --color-grayscale-30: #f6f6f6;
    --color-grayscale-0: #fdfdfd;

    /* 폰트 설정 */
    --font-sans: Pretendard, 'Pretendard Variable', system-ui, sans-serif;

    /* 폰트 두께 설정 */
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* 폰트 크기 설정 */
    --font-size-28: 28px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-17: 17px;
    --font-size-15: 15px;
    --font-size-13: 13px;
    --font-size-12: 12px;

    /* 폰트 라인 높이 설정 */
    --line-height-tight: 140%;
  }
}

/* Head utility */
@layer utilities {
  .head-28-m {
    font-family: Pretendard-Medium;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 500;
  }

  .head-24-sb {
    font-family: Pretendard-SemiBold;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 600;
  }

  .head-20-sb {
    font-family: Pretendard-SemiBold;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }

  .head-20-m {
    font-family: Pretendard-Medium;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .head-18-sb {
    font-family: Pretendard-SemiBold;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 600;
  }

  /* Body utility */
  .body-24-m {
    font-family: Pretendard-Medium;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 500;
  }

  .body-18-r {
    font-family: Pretendard-Regular;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
  }

  .body-17-m {
    font-family: Pretendard-Medium;
    font-size: 17px;
    line-height: 23.8px;
    font-weight: 500;
  }

  .body-17-r {
    font-family: Pretendard-Regular;
    font-size: 17px;
    line-height: 23.8px;
    font-weight: 400;
  }

  .body-15-sb {
    font-family: Pretendard-SemiBold;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
  }

  .body-15-m {
    font-family: Pretendard-Medium;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
  }

  .body-15-r {
    font-family: Pretendard-Regular;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
  }

  /* Etc utility */
  .etc-13-sb {
    font-family: Pretendard-SemiBold;
    font-size: 13px;
    line-height: 18.2px;
    font-weight: 600;
  }

  .etc-13-r {
    font-family: Pretendard-Regular;
    font-size: 13px;
    line-height: 18.2px;
    font-weight: 400;
  }

  .etc-12-r {
    font-family: Pretendard-Regular;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 400;
  }
}
